:root{
  --light_grey:  #979CA1;
  --dark-grey:  #eee;
}

body{
    font-family: 'Maven Pro', sans-serif;
}


/* header */
/* top nav */
.top-nav{
    width: 100%;
    height:48px;
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 6px 10px #eee;
    z-index: 99;
    display: flex;
}
ul.top-nav-left{
  flex:1.5;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
ul.top-nav-right{
  flex:1;
  display: flex;
  justify-content: flex-end;
}
.top-nav li{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.top-nav-right li{
  padding: 10px;
}
.top-nav-right li:last-child{
  padding:15px;
}
.top-nav-left li{
    margin-left: 10px;
}
.top-nav-left a{
    color:#BABDC0;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}
.top-nav-left a:hover{
    color: #000;
}

.top-nav-right a{
  background-image: url("../images/icons.svg");
  height: 16px;
  width: 16px;
  background-size: 1248px 1248px;
  opacity: .25;

}
.top-nav-right a:hover{
  opacity: .50;
}
.facebook a{
  background-position: -256px -256px;
}
.twitter a{
  background-position: -960px -960px;
}
.mail a{
  background-position: -512px -512px;
}
.more a{
  background-position: -560px -560px;
}
.search a{
   background-position: -800px -800px;
}
.search{
  border-left:1px solid #eee;
  
}



/* bottom nav */
.fixed-nav-spacer{
    width: 100%;
    height:48px;
}
.bottom-nav{
    width: 100%;
    height: 25px;
    position: relative;
    z-index: 100;

    background-color: #000;
}

/* 0px min */
@media screen and (min-width: 0px){
   .bottom-nav{
        visibility: hidden;
    }
}
/* 767px min */
@media screen and (min-width: 767px){
    .bottom-nav{
        visibility: visible;
    }
    
}
/* 1024px min */
@media screen and (min-width: 1024px){
   
}


/* Non Media Query Stuff */
.bottom-nav{
    display: flex;
}
ul.bottom-nav-left{
    flex:1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul.bottom-nav-right{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.bottom-nav li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.bottom-nav-right li{
    margin-right: 10px;
}
.bottom-nav-left li{
    margin-left: 10px;
}
.bottom-nav a{
    color:var(--light_grey);
    font-size: 13px;
}
.bottom-nav a:hover{
    color: #fff;
}



























/* top-headlines */


/* 0px min */
@media screen and (min-width: 0px){
   .top-headlines{ 
        width: 100%;
        margin: -25px auto 15px auto;
        height:600px;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .top-headlines section.big{
        flex: 1 32%;
        margin: 1%;
        background-image: url("../images/top-headline-big.jpg");
        background-image: linear-gradient(170deg, rgba(255,0,0,1) 2%,rgba(255,0,0,0.6),rgba(0,0,0,1) 98%, rgba(0,0,0,1)), url("../images/top-headline-big.jpg");
	      background-size: 100%;
    }
    .top-headlines .small{
        flex: 2 64%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .top-headlines section.small-1{    
        flex-basis: 49%;
        margin: 1%;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-1.jpg");
        background-size: 100%;
    }
    .top-headlines section.small-2{
      flex-basis:49%;
      margin: 1%;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-2.jpg");
      background-size: 100%;
    }

}
/* 767px min */
@media screen and (min-width: 767px){
    .top-headlines{ 
        width: 100%;
        margin: 15px auto;
        padding: 5px;
        height:520px;
        position: relative;
        
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .top-headlines section.big{
        flex: 2;
        margin: 5px;
        background-image: url("../images/top-headline-big.jpg");
        background-image: linear-gradient(170deg, rgba(255,0,0,1) 2%,rgba(255,0,0,0.6),rgba(0,0,0,1) 98%, rgba(0,0,0,1)), url("../images/top-headline-big.jpg");
	      background-size: 100%;
    }
    .top-headlines .small{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .top-headlines section.small-1{    
        flex: 1 49%;
        margin: 5px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-1.jpg");
        background-size: 100%;
    }
    .top-headlines section.small-2{
        flex: 1 49%;
        margin: 5px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-2.jpg");
        background-size: 100%;
    }

    
}
/* 1024px min */
@media screen and (min-width: 1024px){
   .top-headlines{ 
        width: 100%;
        margin: 15px auto;
        padding: 5px;
        height:560px;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
       
    }

    .top-headlines section.big{
        flex: 2;
        margin: 5px;
        background-image: url("../images/top-headline-big.jpg");
        background-image: linear-gradient(170deg, rgba(255,0,0,1) 2%,rgba(255,0,0,0.6),rgba(0,0,0,1) 98%, rgba(0,0,0,1)), url("../images/top-headline-big.jpg");
	      background-size: 100%;

    }
    .top-headlines .small{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .top-headlines section.small-1{    
        flex: 1 49%;
        margin: 5px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-1.jpg");
        background-size: 100%;
    }
    .top-headlines section.small-2{
        flex: 1 49%;
        margin: 5px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/top-headline-small-2.jpg");
        background-size: 100%;
    }
}












.mid-div{
    max-width:1150px;
    margin: 15px auto;
    position: relative;
}


/* latest-news */


/* 0px min */
@media screen and (min-width: 0px){
    .latest-news{
      position: relative;
      margin-top: 40px;        
    }
    .latest-news article{    
      display: flex;
      flex-flow: column;
      justify-content: space-between;      
    }
    .latest-news h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;    
      margin-bottom: 20px;
      margin-left:5px;
    }


    .latest-news figure{
      flex:1 12.5%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 1%;
    }
      
    .latest-news figure a{
      flex: 1;
    }
    .latest-news figure a img{
      display: block;
      height:70px;
      width:70px;
      margin: 0 auto 0 5px;
    }
    .latest-news figure figcaption{
      flex: 5;      
    }
    .latest-news h3{
      color: black;
      font-weight: bold;


    }
    .latest-news p{
      color: var(--light_grey);
      font-size: 12px;
      display: block;
      padding: 6px 0;
    }

    
}
/* latest-news */
/* 767px min */
@media screen and (min-width: 767px){
    
    .latest-news{
        position: relative;
        margin-top: 40px;
    }
    .latest-news article{
    
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; 
          
    }
     .latest-news h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;     
      margin-bottom: 20px;
      margin-left:10px;
    }


    .latest-news figure{
        flex:0 3 31%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .latest-news figure a{
      flex: 2;  
    }
    .latest-news figure a img{
      width:100%;
      height: 140px;
    }
    .latest-news figure figcaption{
      flex: 1; 
      margin: 3px;     
    }
    .latest-news h3{
      color: black;

    }
    .latest-news p{
      color: var(--light_grey);
    }


}
/* latest-news */
/* 1024px min */
@media screen and (min-width: 1024px){
    
    .latest-news{

        margin-top: 40px;       
      
    }
    .latest-news article{

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      
    }
    .latest-news h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;  
      margin-bottom: 20px;
    }

    .latest-news figure{
        
        flex: 1 4 23%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }

    .latest-news figure a{
      flex: 2;
    }
    .latest-news figure a img{
      width:100%;
      height: 140px;
    }
    .latest-news figure figcaption{
      flex: 1;      
    }
    .latest-news h3{
      color: black;

    }
    .latest-news p{
      color: var(--light_grey);
    }
}












/* article-list */
/* 0px min */
@media screen and (min-width: 0px){
   .article-list{
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height:6000px;;

    }
    .article-list article{
        flex: 1;
         
        display: flex;
        flex-direction: column;  
    }
    .article-list section.section-popular{
      flex:1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width:100%;
      
    }
    .article-list section.section-latest{
      height:95px;
      display: flex;
      background: rgba(255,68,34,.06);
      margin: 1% 0;
     
    }
    .article-list section.section-latest a.caption{
      flex:2;
      text-decoration:none;
      padding: 10px;
      margin:3px 0;
      
    }
    .article-list section.section-latest a.image{
      width:95px;
    }
    .article-list section.section-latest a.image img{
      height:100%;
      width: 100%;
    }
    .article-list ul.section-headline{
      flex:1;
      list-style: none;
      font-size: 13px;
      color: var(--light-grey)
    }
    .article-list ul.section-headline li {
      padding-left: 1em;
      text-indent: -.7em; 
      padding:10px;
      border-bottom: 1px solid #eee;
    }
    .article-list ul.section-headline li::before {
      content: "• ";
      color: #f42; 
    }
    .article-list h3{
      color:#f42;

    }
    .article-list p{
      color:#f42;
      font-weight: bold;
      
    }
    .article-list h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;    
      margin-bottom: 20px;
    }
}
/* 767px min */
@media screen and (min-width: 767px){
    .article-list{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height:3400px;

    }
    .article-list article{
        flex: 0 1 49%;
        margin: .5%;
        display: flex;
        flex-direction: column;
    }
      .article-list section.section-popular{
      flex:5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      max-width:100%;
    }
    .article-list section.section-latest{
      height:95px;
      display: flex;
      background: rgba(255,68,34,.06);
      margin: 1% 0;
     
    }
    .article-list section.section-latest a.caption{
      flex:2;
      text-decoration:none;
      padding: 10px;
      margin:3px 0;
      
    }
    .article-list section.section-latest a.image{
      width:95px;
    }
    .article-list section.section-latest a.image img{
      max-width: 100%;
     
    }
    .article-list ul.section-headline{
      flex:5;
      list-style: none;
      font-size: 13px;
      color: var(--light-grey)
    }
    .article-list ul.section-headline li {
      padding-left: 1em;
      text-indent: -.7em; 
      padding:10px;
      border-bottom: 1px solid #eee;
    }
    .article-list ul.section-headline li::before {
      content: "• ";
      color: #f42; 
    }
    .article-list h3{
      color:#f42;

    }
    .article-list p{
      color:#f42;
      font-weight: bold;
      
    }
    .article-list h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;    
      margin-bottom: 20px;
      
    }
  
      
    
}
/* 1024px min */
@media screen and (min-width: 1024px){
   .article-list{    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height:2000px;

    }
    .article-list article{
        flex: 1 1 32%;
        margin: .5%;
        display: flex;
        flex-direction: column;
    }
    .article-list section.section-popular{
      flex:5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width:100%;
      height:276px;
    }
    .article-list section.section-latest{
      height:95px;
      display: flex;
      background: rgba(255,68,34,.06);
      margin: 1% 0;
     
    }
    .article-list section.section-latest a.caption{
      flex:2;
      text-decoration:none;
      padding: 10px;
      margin:3px 0;
      
    }
    .article-list section.section-latest a.image{
      width:95px;
    }
    .article-list section.section-latest a.image img{
      height:100%;
      width: 100%;
    }
    .article-list ul.section-headline{
      flex:5;
      list-style: none;
      font-size: 13px;
      color: var(--light-grey)
    }
    .article-list ul.section-headline li {
      padding-left: 1em;
      text-indent: -.7em; 
      padding:10px;
      border-bottom: 1px solid #eee;
    }
    .article-list ul.section-headline li::before {
      content: "• ";
      color: #f42; 
    }
    .article-list h3{
      color:#f42;

    }
    .article-list p{
      color:#f42;
      font-weight: bold;
      
    }
    .article-list h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;    
      margin-bottom: 20px;
    }
}
.article-list article.apps section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,1)), url("../images/app-big.jpg");
}
.article-list article.gear section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/gear-big.jpg");
}
.article-list article.tech section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/tech-big.jpg");
}
.article-list article.creative section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/creative-big.jpg");
}
.article-list article.contributors section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/contributors-big.png");
}
.article-list article.insights section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/insight-big.jpg");
}
.article-list article.launch section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/launch-big.jpg");
}
.article-list article.world section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/world-big.jpg");
}
.article-list article.distract section.section-popular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1)), url("../images/distract-big.jpg");
}
      
















/* latest-deals */


.cross{
  text-decoration: line-through;
}
/* 0px min */
@media screen and (min-width: 0px){
    .latest-deals{
      position: relative;
      margin-top: 40px;        
    }
    .latest-deals article{    
      display: flex;
      flex-flow: column;
      justify-content: space-between;      
    }
    .latest-deals h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;   
      margin-bottom: 20px;
      margin-left:5px;
    }


    .latest-deals figure{
      flex:1 12.5%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 1%;
    }
      
    .latest-deals figure a{
      flex: 1;
    }
    .latest-deals figure a img{
      display: block;
      height:70px;
      width:70px;
      margin: 0 auto 0 5px;
    }
    .latest-deals figure figcaption{
      flex: 5;      
    }
    .latest-deals h3{
      color: black;
      font-weight: bold;


    }
    .latest-deals p{
      color: var(--light_grey);
      font-size: 12px;
      display: block;
      padding: 6px 0;
    }

    
}
/* latest-deals */
/* 767px min */
@media screen and (min-width: 767px){
    
    .latest-deals{
        position: relative;
        margin-top: 40px;
    }
    .latest-deals article{
    
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; 
          
    }
     .latest-deals h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;    
      margin-bottom: 20px;
      margin-left:10px;
    }


    .latest-deals figure{
        flex:0 3 31%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
    
    .latest-deals figure a{
      flex: 2;  
    }
    .latest-deals figure a img{
      width:100%;
      height: 160px;
    }
    .latest-deals figure figcaption{
      flex: 1; 
      margin: 3px;     
    }
    .latest-deals h3{
      color: black;

    }
    .latest-deals p{
      color: var(--light_grey);
    }


}
/* latest-deals */
/* 1024px min */
@media screen and (min-width: 1024px){
    
    .latest-deals{

        margin-top: 40px;       
      
    }
    .latest-deals article{

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      
    }
    .latest-deals h1{
      color:#f42;
      font-family:  'Arvo', serif;
      font-size: 28px;
      line-height:30px;     
      margin-bottom: 20px;
    }

    .latest-deals figure{
        
        flex: 1 4 23%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }

    .latest-deals figure a{
      flex: 2;
    }
    .latest-deals figure a img{
      width:100%;
      height: 160px;
    }
    .latest-deals figure figcaption{
      flex: 1;      
    }
    .latest-deals h3{
      color: black;

    }
    .latest-deals p{
      color: var(--light_grey);
    }
}









/* footer */

.top-footer-nav{
    height: 220px;
    width: 100%;
    background-color: #000052;
}
.middle-footer-nav{
    height: 40px;
    width: 100%;
    background-color: #000052;
}
.bottom-footer-nav{
    height: 40px;
    width: 100%;
    background-color: #000052;
}
.copyright{
    height: 75px;
    width: 100%;
    background-color: #00000C;
}

/* 0px min */
@media screen and (min-width: 0px){
   
}
/* 480px min */
@media screen and (min-width: 480px){
   
}
/* 767px min */
@media screen and (min-width: 767px){
    
    
}
/* 1024px min */
@media screen and (min-width: 1024px){
   
}
